#logo {
  height: 28px;
  background: rgba(255,255,255,.2);
  margin: 16px; 
  border-radius: 10px;
}

#logo p {
  height: 28px;
  font-size: 18px;
  color: #D8DCD8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.details_side{
  margin: 10px; 
}